.select2-container .select2-selection--single {
  height: 38px !important;
}

.select2-container--default
  .select2-selection--single
  .select2-selection__rendered {
  color: #495057 !important;
  line-height: 38px !important;
}

.select2-container--default
  .select2-selection--single
  .select2-selection__arrow {
  height: 38px !important;
}

.quantityInput {
  width: 50px !important;
  height: 38px;
  text-align: center;
  border: 1px solid #ced4da;
  border-radius: 4px;
  padding: 0;
  margin: 0;
  font-size: 14px;
  color: #495057;
}
